
// =============================================================================
// Variables
// =============================================================================

$font-title: '48font', sans-serif;
$font-mision: 'Source Sans Pro', sans-serif;
$purple: #7854FF;
$yellow: #F4B52E;
$red: #FF557E;
$blue: #44C4FF;
$purple-rgba: rgba($purple,0.92);
$white: #E6E6E6;
$black:	#636363;
$green: #3dd875;
$border-grey: #EAEAEA;